/*----- Header -----*/

header {
  background-color: lightblue;
}

header h1 {
  margin: 0;
}

.title {
  color: white;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  text-shadow: 2px 3px 5px black;
}

.title, .title:visited {
  color: white;
}

/*----- Question Box -----*/

#mainContainer {
  width: 100%;
}

.questionContainer {
  width: 44%;
  margin-left: 4%;
  float: left;
}

.answeredContainer {
  width: 44%;
  margin-right: 4%;
  float:right;
}

#answerBox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width:100%;
}

#answerButton {
  width: 100%;
}

#answerBox:focus {
  outline:none;
}

.AH {
  background-color: #eeccff;
}

.LA {
  background-color: #ffffcc;
}

.MA {
  background-color: #ffdddd;
}

.SC {
  background-color: #ddffdd;
}

.SS {
  background-color: #ffe67a;
}
