head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Brandeis Quick Recall
  link(rel='icon', type='image/png', href='/images/icon_knowledge.png')
  link(rel='stylesheet', href='css/normalize.css', type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700', rel='stylesheet', type='text/css')
  link(rel='stylesheet', href='css/main.css', type='text/css')
